{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>
        {{ recipes.getTotalItemCount }} Recipe{% if recipes.getTotalItemCount != 1 %}s{% endif %}
    </h1>

    <form action="{{ path('recipe_list') }}" method="get">
        <label>Filter:
            <input name="filterText" type="text" value="{{ app.request.get('filterText') }}"></label>
        <label>Maximum cooking time (minutes):
            <input name="maximumCookingTime" type="number" value="{{ app.request.get('maximumCookingTime') }}"></label>
        <input type="submit" value="Filter">
    </form>

    {% if recipes.getTotalItemCount == 0 %}
        {% if filtered %}
            <p class="info">Sorry, nothing matched your filter term</p>
        {% else %}
            <p class="info">Sorry, we currently have no recipes for you</p>
        {% endif %}
    {% endif %}

    <table id="recipeTable">
        <tr class="heading">
            <th>Name</th>
            <th>Ingredients</th>
            <th>Cooking Time</th>
        </tr>

        {% for recipe in recipes %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td class="recipe-name"><a href="{{ path('recipe_view', {id: recipe.id}) }}">{{ recipe.name }}</a></td>
                        <td class="main-ingredients">
                            {% for ri in recipe.recipeIngredients %}{% if loop.index > 1 %}, {% endif %}{{ ri.ingredient.name }}{% endfor %}
                        </td>
                        <td class="cooking-time">{{ recipe.cookingTime }} minutes</td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(recipes) }}
    </div>
{% endblock %}
