{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <h1 class="recipe-name">{{ recipe.name }}</h1>

    <p><strong>Cooking time:</strong> <span class="cooking-time">{{ recipe.cookingTime }} minutes</span></p>
    <p><strong>Ingredients:</strong></p>
    <ul class="ingredients-list">
        {% for ri in recipe.recipeIngredients %}
            <li>{{ ri.description }}</li>
        {% endfor %}
    </ul>

    <p><strong>Instructions</strong></p>
    <p>
        {% if recipe.imageUrl is not null %}
            <img class="recipe-image" src="/{{ recipe.imageUrl }}">
        {% endif %}

        {{ recipe.instructions }}
    </p>

{% endblock %}
